//----------------------------------------------------------------------------
// Fonts
//----------------------------------------------------------------------------
$ttfonts: (
  "Consolas",
  "Menlo",
  "Monaco",
  "Lucida Console",
  "Liberation Mono",
  "DejaVu Sans Mono",
  "Bitstream Vera Sans Mono",
  "Courier New",
  "monospace",
  "serif"
);

$tailon-logview-font-size: 13px;

//----------------------------------------------------------------------------
// Colors
//----------------------------------------------------------------------------
$tailon-logview-background-color: #efefef;
$tailon-logview-text-color: #3c3c3c;

$tailon-logview-notice-background-color: #FF974F;
$tailon-logview-notice-color: #1d1f21;

$tailon-toolbar-background-color: #282a2e;
$tailon-toolbar-input-background-color: #373b41;
